@charset "UTF-8";



.content {
	display: flex;
}

.sideBar{
	width: 20%;
    border: 1px solid grey;
    background: aliceblue;
    h1{
		text-align: center;
	}
	
}

.mainContent{
	
	
	width: 80%;

	
}

li{
	
	list-style: none;

}



a {
    color: inherit; /* 부모 요소의 색상을 상속받음 */
    text-decoration: none; /* 링크에 밑줄 없애기 */
}

ul{
	padding-left: 0px;
    margin-left: 56px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
}